body {
    font-family: cursive;
    background-color: white;
    background-image: url(./img/marble.jpeg);
}

button {
    margin-bottom: 2vh;
    margin-right: 1vw
}

.btn {
    border: 1px black solid;
    width: fit-content;
} 

.navbar {
    height: fit-content;
    border-bottom: 3px black solid;
}

.card {
    margin-bottom: 2vh;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, .75);
}

iframe {
    margin-bottom: 5vh;
    border: 1px black solid;
    border-radius: 7.5px;
}

.contact-page {
    border: 1px black solid;
    border-radius: 7.5px;
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw;
}

.menu-background {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 7.5px;
    padding: 1vw;
}

.menu-display {
    opacity: 100%;
}

#knives {
    height: 5vh;
}

.navbar-title-2 {
    border-bottom: 1px black solid;
}

#front {
    object-fit:scale-down;
}

.thin {
    height: 10vh;
}

#bButton {
    position: absolute;
    top: 90%;
    left: 92.5%;
    background-color: rgba(255, 255, 255, .75);
    border: 1px black solid;
    border-radius: 50%;
    padding: 7.5px;
}