body {
    font-family: cursive;
    background-color: white;
    background-image: url(../img/marble.jpeg);
}

button {
    margin-bottom: 2vh;
    margin-right: 1vw
}

.btn {
    border: 1px black solid
} 

.navbar {
    height: fit-content;
    border-bottom: 3px black solid;
}

.card {
    margin-bottom: 2vh;
    border: 1px black solid
}

iframe {
    margin-bottom: 5vh;
    border: 1px black solid;
    border-radius: 5%;
}

.contact-page {
    border: 1px black solid;
    border-radius: 5%;
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw;
}

/* .menu-background > * {
    background-color: white;
    border-radius: 7.5px;
    padding: 1vw;
    opacity: 50%;
}

.menu-background > .menu-display {
    opacity: 100%;
} */